# Auto detect text files and perform LF normalization
* text=auto

# Source code
*.cs text diff=csharp
*.csproj text
*.sln text
*.config text
*.json text
*.md text
*.xml text

# Images
*.jpg binary
*.jpeg binary
*.png binary
*.gif binary
*.ico binary
*.svg text

# Archives
*.zip binary
*.7z binary
*.rar binary

# Executables
*.exe binary
*.dll binary
*.mbn binary
*.elf binary
